<p style="color: green"><%= notice %></p>

<div id="posts" class="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<div class="dataTables_paginate d-flex justify-content-center mt-4">
  <%= paginate @posts,:remote => true %>
</div>
